#red, #green, #blue {
    float: left;
    clear: left;
    width: 300px;
    margin: 15px;
}

.swatches #swatch-div {
	margin-left: 100px;
	margin-top: 18px;
}

.swatches  #game-swatch, .swatches #user-swatch{
	width: 120px;
    height: 100px;    
    margin-left:15px;
    float:left;
    background-image: none;
    border: gray inset;
}

.score{
	float:left;
	clear:left;
	margin-left: 135px;
}

.score p {	
	text-align: center;
}

.submit{
	float:left;
	clear:left;
	margin-left: 215px;
}

#diffturns{
	float: left;
	clear: left;
	margin-top: 20px;
	margin-left: 135px;
}

#diffturns input{
	width: 50px;
}

#redsection, #greensection, #bluesection {
	margin-left: 83px;
}

#redt, #bluet, #greent{
	float:left;
	margin-top:1%;
	margin-left: 80px;
}

#red .ui-slider-range {
	background: #ef2929; 
}

#red .ui-slider-handle {
	border-color: #ef2929; 
}

#green .ui-slider-range { 
	background: #8ae234;
}

#green .ui-slider-handle { 
	border-color: #8ae234;
}

#blue .ui-slider-range { 
	background: #729fcf;
}

#blue .ui-slider-handle { 
	border-color: #729fcf;
}

.plugin {
    padding: 25px;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: 450px;
}

#myHeader {
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    text-align: center;
    margin-bottom: 20px;
}

#answers {
    padding: 10px;
    font-size: 15px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}